<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<h1 style="text-align: center"><%= title %></h1>

<form form class="form" method="POST" style="text-align: center">
    <p>Select Winner</p>
    <input type="radio" id="player1" name="Winner1" value="<%= player1 %>">
    <label for="player1"><%= player1 %></label><br>
    <input type="radio" id="player2" name="Winner1" value="<%= player2 %>">
    <label for="player2"><%= player2 %></label><br><br>

    <input type="radio" id="player3" name="Winner2" value="<%= player3 %>">
    <label for="player3"><%= player3 %></label><br>
    <input type="radio" id="player4" name="Winner2" value="<%= player4 %>">
    <label for="player4"><%= player4 %></label><br><br>

    <input type="radio" id="player5" name="Winner3" value="<%= player5 %>">
    <label for="player5"><%= player5 %></label><br>
    <input type="radio" id="player6" name="Winner3" value="<%= player6 %>">
    <label for="player6"><%= player6 %></label><br><br>

    <input type="radio" id="player7" name="Winner4" value="<%= player7 %>">
    <label for="player7"><%= player7 %></label><br>
    <input type="radio" id="player8" name="Winner4" value="<%= player8 %>">
    <label for="player8"><%= player8 %></label><br><br>

    <input type="radio" id="player9" name="Winner5" value="<%= player9 %>">
    <label for="player9"><%= player9 %></label><br>
    <input type="radio" id="player10" name="Winner5" value="<%= player10 %>">
    <label for="player10"><%= player10 %></label><br><br>

    <input type="radio" id="player11" name="Winner6" value="<%= player11 %>">
    <label for="player11"><%= player11 %></label><br>
    <input type="radio" id="player12" name="Winner6" value="<%= player12 %>">
    <label for="player12"><%= player12 %></label><br><br>

    <input type="radio" id="player13" name="Winner7" value="<%= player13 %>">
    <label for="player13"><%= player13 %></label><br>
    <input type="radio" id="player14" name="Winner7" value="<%= player14 %>">
    <label for="player14"><%= player14 %></label><br><br>

    <input type="radio" id="player15" name="Winner8" value="<%= player15 %>">
    <label for="player15"><%= player15 %></label><br>
    <input type="radio" id="player16" name="Winner8" value="<%= player16 %>">
    <label for="player16"><%= player16 %></label><br><br>

    <button class="btn btn-primary" type="submit">
        <i class="fas fa-edit">Next</i>
    </button>
    </form>
    

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  




