<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<h1 style="text-align: center">The Winner Of the <%= nameOfComp %> is <%= nameOfWinner %></h1>

<form form class="form" method="POST" style="text-align: center">
    <button class="btn btn-primary" type="submit">
        <i class="fas fa-edit">Next</i>
    </button>
    
</form>
    

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  




